@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación - Módulo de Caja</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 40px;
        }

        .btn {
            display: inline-block;
            padding: 15px 30px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .btn:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dulce Sabor</h1>
        <h2>Módulo de Caja</h2>
        <a asp-controller="listadoMesas" asp-action="Index"><button type="button" class="btn">Entrar</button></a>
    </div>
</body>
</html>
